$black: #000;
$midnight-black: #111;
$space-black: #222;
$space-grey: #2d2d2d;
$oxidised-silver: #444;
$dark-grey: #757575;
$grey: #a4a4a4;
$light-grey: #afafaf;
$smoke-grey: #c9c9c9;
$pale-grey: #f0f0f0;
$off-white: #fcfcfc;
$white: #fff;
$dark-blue: #003c85;
$blue: #5c8afe;
$light-blue: #88a7d1;
$sky-blue: #a2c1eb;
$alpha-white: #ffffff33;

// social media networks
$twitter: #55acee;
$facebook: #3b5998;
$linkedin: #007bb5;
$github: #000000;
$instagram: #c13584;
$mail: #dddddd;
